# Global excludes across all subdirectories - copied from postgres
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.dylib
*.dll
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov.info
coverage/
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# pgactive specific
/pgactive_init_copy
/pgactive_dump
/include/pgactive_version.h
/test/log/
/test/results/
/test/tmp_check/
/test/tmp_t/
/tmp_test_*
/home
*~
/pgactive-*.tar.bz2
/.distgitrev
/.distgittag
/pgactive_init_copy_postgres.log
# autoconf output
/autom4te.cache/
/include/pgactive_config_generated.h
# configure output
/Makefile
/test/run_tests
/config.log
/config.status
/Makefile.global
/doc/Makefile
/pgactive.conf.sample
# Packages
pgactive-*.asc
pgactive-*.md5
/.pg_version
